// @describe line-clamping()
 
// @it should keep visible only two lines of text using unitless `line-height` property
.test
    line-clamping({
        lines: 2,
        line-height: 1.25,
        font-size: 20px,
    })
 
// @expect
.test {
    display: block;
    max-height: 50px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.25;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it should keep visible only two lines of text using `line-height` property in percents
.test
    line-clamping({
        lines: 2, 
        line-height: 150%, 
        font-size: 20px,
    })
 
// @expect
.test {
    display: block;
    max-height: 60px;
    overflow: hidden;
    font-size: 20px;
    line-height: 150%;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it should keep visible only two lines of text using `line-height` property in px
.test
    line-clamping({
        lines: 2, 
        line-height: 30px,
    })
 
// @expect
.test {
    display: block;
    max-height: 60px;
    overflow: hidden;
    line-height: 30px;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it should keep visible only two lines of text when `calc` is used as `line-height` unit
.test
    line-clamping({
        lines: 2, 
        line-height: calc(30px + 1.5vw),
    })
 
// @expect
.test {
    display: block;
    max-height: calc((30px + 1.5vw) * 2);
    overflow: hidden;
    line-height: calc(30px + 1.5vw);
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it should keep visible only two lines of text when `calc` is used as `font-size ` unit
.test
    line-clamping({
        lines: 2, 
        line-height: 1.1, 
        font-size: calc(20px + 1.5vw),
    })
 
// @expect
.test {
    display: block;
    max-height: calc((20px + 1.5vw) * 2.2);
    overflow: hidden;
    font-size: calc(20px + 1.5vw);
    line-height: 1.1;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it keep visible only one line of text using `text-overflow: ellipsis` way
.test
    line-clamping(1)
 
// @expect
.test {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// @it should change display of the element to `inline-block` or `-webkit-inline-box` 
.test
    line-clamping({
        lines: 2, 
        line-height: 1.25, 
        font-size: 20px, 
        is-inline: true,
    })
 
// @expect
.test {
    display: inline-block;
    max-height: 50px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.25;
}
@supports (display: -webkit-inline-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it should throw error when parameter is less than 1 
.test
    line-clamping(0)
 
// @throws