// @describe line-clamping()
 
// @it should keep visible only two lines of text using default and webkit way
.foo
    line-clamping(2, 20px, 1.25)
 
// @expect
.foo {
    display: block;
    max-height: 50px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.25;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .foo {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it keep visible only one line of text using `text-overflow: ellipsis` way
.bar
    line-clamping(1)
 
// @expect
.bar {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// @it should change display of the element to `inline-block` or `-webkit-inline-box` 
.baz
    line-clamping(2, 20px, 1.25, true)
 
// @expect
.baz {
    display: inline-block;
    max-height: 50px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.25;
}
@supports (display: -webkit-inline-box) and (-webkit-line-clamp: 2) {
    .baz {
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}