// @describe line-clamping()
 
// @it should keep visible only two lines of text using unitless `line-height` property
.test
    line-clamping(2, 1.25, 20px)
 
// @expect
.test {
    display: block;
    max-height: 50px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.25;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it should keep visible only two lines of text using `line-height` property in percents
.test
    line-clamping(2, 150%, 20px)
 
// @expect
.test {
    display: block;
    max-height: 60px;
    overflow: hidden;
    font-size: 20px;
    line-height: 150%;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it should keep visible only two lines of text using `line-height` property in px
.test
    line-clamping(2, 30px)
 
// @expect
.test {
    display: block;
    max-height: 60px;
    overflow: hidden;
    font-size: 16px;
    line-height: 30px;
}
@supports (display: -webkit-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

// @it keep visible only one line of text using `text-overflow: ellipsis` way
.test
    line-clamping(1)
 
// @expect
.test {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// @it should change display of the element to `inline-block` or `-webkit-inline-box` 
.test
    line-clamping(2, 1.25, 20px, true)
 
// @expect
.test {
    display: inline-block;
    max-height: 50px;
    overflow: hidden;
    font-size: 20px;
    line-height: 1.25;
}
@supports (display: -webkit-inline-box) and (-webkit-line-clamp: 2) {
    .test {
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}


// @it should throw error when $line-count parameter is less than 1 
.test
    line-clamping(0)
 
// @throws