$textClamp__Default_LineHeight ?= 1.25
$textClamp__Default_FontSize ?= 1em

$textClamp__Calculated_HeightOfOneTextLine = $textClamp__Default_LineHeight * $textClamp__Default_FontSize 

line-clamping(
    $lines-count = 1, 
    $line-height = $textClamp__Calculated_HeightOfOneTextLine, 
    $isInline = false
)
    if $isInline
        display inline-block
    max-height $lines-count * $line-height
    overflow hidden

    @supports (display: -webkit-box) and (-webkit-line-clamp: $lines-count)
        if $isInline
            display -webkit-inline-box
        else
            display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp $lines-count