line-clamping(
    $lines-count = 1, 
    $font-size = 16px,
    $line-height = 1.25, 
    $is-inline = false
)
    if $is-inline
        display inline-block
    max-height $lines-count * ($line-height * $font-size)
    overflow hidden

    @supports (display -webkit-box) and (-webkit-line-clamp $lines-count)
        if $is-inline
            display -webkit-inline-box
        else
            display -webkit-box
        -webkit-box-orient vertical
        -webkit-line-clamp $lines-count